/* 
*
* Primary Color : #068243
*
*/

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'latoregular', Arial, sans-serif;	
	font-weight: normal;
	font-style: normal;
}

.navbar-custom {
	background-color: #FFF;
	transition: .2s ease;
}

.navbar-custom.scrolled {
	background-color: #068243;
	transition: .2s ease;
}

.lp-navbar .nav-item {
	margin: 8px 16px;
	font-family: 'latobold', Arial, sans-serif;
	font-size: 1.1em;
}

.lp-navbar .nav-link {
	color: #068243;
}

.lp-navbar .nav-link.scrolled {
	color: #FFF;
}

.section-title {
	font-family: 'latoblack', Arial, sans-serif;
	color: #068243;
}

.navbar-toggler {
	padding-top: 15px;
	color: #068243;
}

.navbar-toggler.scrolled {
	padding-top: 15px;
	color: #FFF;
}

.navbar-toggler-icon {
	background-image: none;
}

.navbar-toggler-icon::before {
	font-family: 'Font Awesome 5 Free';
  	content: "\f0c9"; /* fa-bars, fa-navicon */
	font-weight: 900;
}

/*
*	Start of Section : Banner
*/
.banner {
	overflow: hidden;
	min-height: 100px;
	margin-top: 70px;
}

.banner img {
	display: block;
	width: 100%;
	max-height: auto;
}

.headline {
	position: absolute;
	top: 25vh;
	right: 5vw;
	height: 100%;
	text-align: right;
}

.headline span {
	font-family: 'latoblack', Arial, sans-serif;
	font-size: 5vw;
	color: #068243;
	text-align: right;
	text-transform: uppercase;
	line-height: 1em;
}

.headline span.highlight {
	font-family: 'latolight', Arial, sans-serif;
	color: white !important;
	background-color: #068243;
	padding: 0px 15px;
}
/*
*	End of Section : Banner
*/


/*
*	Start of Section : Events
*/
.events {
	background-color: #FFF;
}

.events .events-title {
	font-family: 'latoblack', Arial, sans-serif;
	color: #068243;
	font-size: 2em;
	line-height: 1.3em;
}

.events .events-desc {
	line-height: 1.2em;
}

.events .events-info > h6 {
	font-family: 'latoblack', Arial, sans-serif;
	line-height: 1em;
	color: #068243;
	margin-bottom: 3px;
}

.events .events-info > span {
	font-size: 0.9em;
}

.events .events-img {
	display: flex;
	justify-content: center;
	border-radius: 10px;
	height: 400px;
	width: 320px;
	overflow: hidden;
}

.events .events-img > img{
	max-height: 100%;
}

.events .carousel-control-prev-icon {
	background-image: url('../img/icon/chevron-left.svg');
}

.events .carousel-control-next-icon {
	background-image: url('../img/icon/chevron-right.svg');
}
/*
*	End of Section : Events
*/

/*
*	Start of Section : About
*/
.about {
	background-color: #FFF;
}

.about .about-img {
	max-height: 300px;
	overflow: hidden;
}

.about .highlight {
	font-family: 'latoblack', Arial, sans-serif;
	color: #068243;
}

.about .about-link {
	font-family: 'latobold', Arial, sans-serif;
	color: #068243;
}
/*
*	End of Section : About
*/


/*
*	Start of Section : Services
*/
.services {
	background-color:  #F4F5F9;
}

.services .section-title {
	font-family: 'latoblack', Arial, sans-serif;
	color: #068243;
}

.services .services-img {
	height: 200px;
	overflow: hidden;
}

.services .services-img > img {
	width: 100%;
}

.services .subtitle {
	font-family: 'latoblack', Arial, sans-serif;
	color: #068243;
}

.services .description {
	color: #282828;
	font-size: 0.95em;
	line-height: 1.3em;
}

.services .services-link {
	width: 30px;
    height: 30px;
    background-color: #068243;
    color: #FFF;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
/*
*	End of Section : Services
*/

/*
*	Start of Section : Our Client
*/
.client {
	background-color: #FFF;
}

.client .client-img {
	height: 100px;
	object-fit: contain;
}

@media screen and (max-width: 768px) {
  	.client .client-img {
		height: 200px;
	}
	.client .owl-carousel .owl-item img {
		width: 100px;
		text-align: center;
	}
}

@media screen and (max-width: 992px) {
	.client .client-img {
	  height: 200px;
  }
  .client .owl-carousel .owl-item img {
	  width: 200px;
	  text-align: center;
  }
}
/*
*	End of Section : Our Client
*/

/*
*	Start of Section : Profile
*/
.profile {
	background-color: #FFF;
	margin-top: 70px;
}

.profile .highlight {
	font-family: 'latoblack', Arial, sans-serif;
	font-size: 1.2em;
}

.profile .grey-bg {
	background-color: #F4F5F9;
}

.profile .grey-bg > h5{
	font-family: 'latoblack', Arial, sans-serif;
	color: #068243;
}
/*
*	End of Section : Profile
*/

/*
*	Start of Section : Company Value
*/
.company-value {
	background-color: #FFF;
}

.company-value .card{
	background-color: #068243;
	color: #FFF;
	border-radius: 15px;
	height: 175px;
}

.company-value .card-header{
	text-align: center;
	font-size: 1.1em;
	font-family: 'latobold', Arial, sans-serif;
	border-bottom: 1px solid #FFF;
}

.company-value .card-body {
	padding: 12px;
}
/*
*	End of Section : Company Value
*/


/*
*	Start of Section : Service Banner
*/
.service-banner {
	margin-top: 70px;
	display: flex;
	background-image: url("../img/banner-2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	justify-content: center;
	align-items: center;	
	height: 90vh;
}

.service-banner h1 {
	font-family: 'latoblack', Arial, sans-serif;
	color: #FFF;
}

/*
*	End of Section : Service Banner
*/


/*
*	Start of Section : Service List
*/
.service-list {
	background-color: #FFF;
}

.service-list .service-title{
	color: #068243;
	font-family: 'latoblack', Arial, sans-serif;
	font-size: 3em;
}

.service-list .service-desc{
	line-height: 1.4em;
}

.service-list .service-link{
	font-family: 'latoblack', Arial, sans-serif;
	color: #068243;
}
/*
*	End of Section : Service List
*/


/*
*	Start of Section : Competency Header
*/
.comp-header {
	background-color: #FFF;
}

.comp-header .comp-banner {
	display: flex;
	height: 500px;
	overflow: hidden;
	align-items: center;
}

.comp-header .comp-banner img {
	max-width: 100%;
}
/*
*	End of Section : Competency Header
*/

/*
*	Start of Section : News
*/
.news-detail .news-title {
	/*font-family: 'latohairline', Arial, sans-serif;*/
	font-size: 3.5em;
	text-transform: uppercase;
	color: #068243;
}

.news-detail .news-title span {
	font-family: 'latoblack', Arial, sans-serif;
}

.news-detail .news-card {
	background-color: #068243;
	padding: 40px;
	color: #FFF;
	border-radius: 20px;
	margin-top: -50px;
}
/*
*	End of Section : News
*/


/*
*	Start of Section : Pros
*/
.pros {
	background-color: #F4F5F9;
}

.pros li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.pros li i {
	color: #068243;
}
/*
*	End of Section : Pros
*/


/*
*	Start of Section : Invest
*/
.invest {
	background-color: #FFF;
}

.invest .invest-title {
	font-family: 'latoblack', Arial, sans-serif;
	color: #068243;
	text-align: center;
}

.invest .card {
	background-color: #068243;
	border: none;
	border-radius: 12px;
	color: #FFF;
}

.invest h6 {
	margin-bottom: 10px;
}

.invest .invest-desc {
	font-family: 'latohairline', Arial, sans-serif;
	font-size: 1.35em;
}

.invest .invest-price {
	font-family: 'latobold', Arial, sans-serif;
	font-size: 1.35em;
}

.invest .invest-list li {
	font-family: 'latohairline', Arial, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

.invest .invest-list i {
	font-size: 0.5em;
	padding-top: 6px;
	padding-right: 9px;
}
/*
*	End of Section : Invest
*/


/*
*	Start of Footer
*/
.footer {
	background-color: #068243;
}

.footer .footer-title {
	font-family: 'latoblack', Arial, sans-serif;
	color: #FFF;
}

.footer .footer-desc {
	color: #FFF;
}

.footer .footer-desc > h6 {
	font-family: 'latoblack', Arial, sans-serif;
	line-height: 1em;
}

.footer .contact-form input {
	color: #FFF;
	background-color: #43af77;
	border: none;
}

.footer .contact-form textarea {
	color: #FFF;
	background-color: #43af77;
	border: none;
}

.footer .contact-form input::placeholder {
	color: #FFF;
	text-align: right;
}

.footer .contact-form textarea::placeholder {
	color: #FFF;
	text-align: right;
}

.footer .contact-form button {
	color: #068243;
}

.footer .copyright {
	background-color: black;
	color: white;
	margin: 0;
}
/*
*	End of Footer
*/

